@model CreateProductDto

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Yeni İlan Ekleme Sayfası</h6>
                <form method="post">
                    <label>İlan Başlığı</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <br />
                    <label>İlçe</label>
                    @Html.DropDownListFor(x => x.City, (List<SelectListItem>)ViewBag.cities, new { @class = "form-control" })
                    <br />
                    <label>Kategori</label>
                    @Html.DropDownListFor(x=>x.ProductCategory,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
                    <br />
                    <label>Fiyat</label>
                    <input type="text" asp-for="Price" class="form-control" />
                    <br />
                    <label>Tür</label>
                    <select asp-for="Type" class="form-control">
                        <option>Kiralik</option>
                        <option>Satilik</option>
                    </select>
                    <br />
                    <label>Kapak Fotoğrafı</label>
                    <select asp-for="CoverImage" class="form-control">
                        <option>merkez</option>
                        <option>ortakent</option>
                        <option>yalikavak</option>
                        <option>bitez</option>
                        <option>golturkbuku</option>
                        <option>gundogan</option>
                        <option>gumusluk</option>
                        <option>konacik</option>
                    </select>
                    <br />
                    <label>İlan Açık Adresi</label>
                    <textarea asp-for="Address" class="form-control" rows="5"></textarea>
                    <br />
                    <label>Açıklama</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <br />
                    <button class="btn btn-primary">İlanı Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>